<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add id="Wiki_VendorsNotification::main_menu"
            title="Wiki Notification"
            module="Wiki_VendorsNotification"
            sortOrder="20"
            resource="Wiki_VendorsNotification::simplenews" />
            
        <add id="Wiki_VendorsNotification::add_news"
            title="Add Notification"
            module="Wiki_VendorsNotification"
            sortOrder="1"
            parent="Wiki_VendorsNotification::main_menu"
            action="wiki/notification/new"
            resource="Wiki_VendorsNotification::manage_news" />

        <add id="Wiki_VendorsNotification::manage_news"
            title="Manage Notification"
            module="Wiki_VendorsNotification"
            sortOrder="2"
            parent="Wiki_VendorsNotification::main_menu"
            action="wiki/notification/index"
            resource="Wiki_VendorsNotification::manage_news" />
    </menu>
</config>