@import 'src/styles/abstracts/variables';

.smallCategoryContainer{
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    .smallCategoryListItem{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        .item{
            margin: auto;
            cursor: pointer;

            &:hover{
                transform: scale(1.04);
            }

            .itemImage{
                width: 62px;
                height: 62px;
                border: 0.5px solid $color-grey;
                border-radius: 50%;
                overflow: hidden;
                .itemImg{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    
                }
            }
            .itemTitle{
                margin-top: 12px;
                .itemTitleText{
                    text-align: center;
                    margin: 0;
                    font-size: $font-size-base;
                    font-family: $font-family-sans;
                    color: $color-black;
                    font-weight: 400;
                }
            }
        }
    }
}

@media all and (max-width: 1024px) {
    .smallCategoryContainer{
        .smallCategoryListItem{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            .item{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .itemImage{
                    width: 55px;
                    height: 55px;
                }
                .itemTitle{
                    margin-top: 12px;
                    .itemTitleText{
                        font-size: $font-size-small;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 912px) {   
    .smallCategoryContainer{
        .smallCategoryListItem{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            .item{
    
                .itemImage{
                    width: 55px;
                    height: 55px;
                }
                .itemTitle{
                    margin-top: 12px;
                    .itemTitleText{
                        font-size: $font-size-small;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 600px) {    
    .smallCategoryContainer{
        .smallCategoryListItem{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            .item{
    
                .itemImage{
                    width: 45px;
                    height: 45px;
                }
                .itemTitle{
                    margin-top: 10px;
                    .itemTitleText{
                        font-size: $font-size-xsmall;
                    }
                }
            }
        }
    }
}

@media all and ( max-width: 480px) {  
    .smallCategoryContainer{
        padding: 10px 0px;
        .smallCategoryListItem{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            .item{
                .itemImage{
                    width: 38px;
                    height: 38px;
                }
                .itemTitle{
                    margin-top: 10px;
                    .itemTitleText{
                        font-size: $font-size-xsmall;
                    }
                }
            }
        }
    }
}