<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <!-- <add id="Wiki_SmsNotification::main_menu" title="SMS Notification" 
            module="Wiki_SmsNotification" sortOrder="20" 
            resource="Wiki_SmsNotification::simplenews" />
        <add id="Wiki_SmsNotification::add_news" title="Add Notification" 
            module="Wiki_SmsNotification" sortOrder="1" parent="Wiki_SmsNotification::main_menu" 
            action="wiki/smsnotification/new" resource="Wiki_SmsNotification::manage_news" />
        <add id="Wiki_SmsNotification::manage_news" title="Manage Notification" 
            module="Wiki_SmsNotification" sortOrder="2" parent="Wiki_SmsNotification::main_menu" 
            action="wiki/smsnotification/index" resource="Wiki_SmsNotification::manage_news" />
        <add id="Wiki_SmsNotification::configuration" title="Configurations" 
            module="Wiki_SmsNotification" sortOrder="3" parent="Wiki_SmsNotification::main_menu" 
            action="adminhtml/system_config/edit/section/simplenews" 
            resource="Wiki_SmsNotification::configuration" /> -->
    </menu>
</config>