@import 'src/styles/abstracts/variables';

.detailProductContainer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

@media all and (max-width: 1024px) {
 
}

@media all and (max-width: 912px) {    

}

@media all and (max-width: 600px) {    

}

@media all and ( max-width: 480px) {    

}