<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<!-- If the user is in active, does not allow the user to login -->
	<!-- <event name="controller_action_predispatch">
		<observer name="Wiki_vendorssubaccount_is_active_user" instance="Wiki\VendorsSubAccount\Observer\IsActiveUser" />
	</event> -->
	
	<event name="ves_vendor_check_acl">
		<observer name="Wiki_vendorssubaccount_check_permission" instance="Wiki\VendorsSubAccount\Observer\CheckPermission" />
	</event>

    <event name="ves_vendor_menu_check_acl">
        <observer name="vendorsubaccount_check_menu_acl" instance="Wiki\VendorsSubAccount\Observer\CheckVendorsMenu" />
    </event>
    <event name="controller_action_predispatch_subaccount">
        <observer name="subaccount_predispatch_coupon_index_index" instance="Wiki\VendorsSubAccount\Observer\SubaccountPredispatch" />
    </event>
    <event name="controller_action_predispatch_subaccount_user_save">
        <observer name="subaccount_predispatch_coupon_index_index" instance="Wiki\VendorsSubAccount\Observer\SaveUserPredispatch" />
    </event>
</config>
