<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    	<add id="Wiki_VendorsQuotation::subaccount" icon="fa fa-users" title="Sub Accounts" sortOrder="90" module="Wiki_VendorsSubaccount" resource="Wiki_VendorsQuotation::subaccount" dependsOnModule="Wiki_VendorsSubaccount" />
    	<add id="Wiki_VendorsQuotation::subaccount_user" title="Manage Users" sortOrder="10" module="Wiki_VendorsSubaccount" action="subaccount/user/index" parent="Wiki_VendorsQuotation::subaccount" dependsOnModule="Wiki_VendorsSubaccount" resource="Wiki_VendorsQuotation::subaccount_user"/>
    	<add id="Wiki_VendorsQuotation::subaccount_role" title="Manage Roles" sortOrder="20" module="Wiki_VendorsSubaccount" action="subaccount/role/index" parent="Wiki_VendorsQuotation::subaccount" dependsOnModule="Wiki_VendorsSubaccount" resource="Wiki_VendorsQuotation::subaccount_role"/>
    </menu>
</config>

