<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Wiki\VendorsReport\Api\Data\ReportStoreInterface" type="Wiki\VendorsReport\Model\Api\Data\ReportStore" />

    <preference for="Wiki\VendorsReport\Api\Data\ReportStoreDataInterface" type="Wiki\VendorsReport\Model\Api\Data\ReportStoreData" />

    <preference for="Wiki\VendorsReport\Api\ProductSellerManagementInterface" type="Wiki\VendorsReport\Model\ReportManagement" />

    <preference for="Magento\Reports\Observer\CatalogProductViewObserver" type="Wiki\VendorsReport\Observer\CatalogProductViewObserverXXX" />

    <preference for="Wiki\VendorsReport\Api\ReportRepositoryInterface" type="Wiki\VendorsReport\Model\Api\ReportRepository" />

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="wiki_report_report_listing_data_source" xsi:type="string">Wiki\VendorsReport\Model\ResourceModel\NewReport\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Wiki\VendorsReport\Model\ResourceModel\NewReport\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">wiki_report_sales_seller</argument>
            <argument name="resourceModel" xsi:type="string">Wiki\VendorsReport\Model\ResourceModel\NewReport</argument>
        </arguments>
    </virtualType>
</config>
