.admin__menu .submenu .item-Wiki .submenu-group-title > span{color: #FFF;}
.admin__menu .submenu .parent.item-Wiki > .submenu-group-title{background: url(../images/logo.svg) no-repeat scroll left center; padding-left: 30px;}
.Wiki-license-field-value{line-height: 3.2rem;}
body .admin__fieldset > .admin__field.Wiki-license-field{margin-bottom: 0;}
.col-license-id{width: 100px;}
.entry-edit .license-fieldset > .admin__field{margin-bottom: 10px !important;}
.admin__control-table .ves-col-domain, .admin__control-table .ves-col-delete-domain{padding: 5px;}
.admin__control-table .ves-col-delete-domain{width: 50px;}
.admin__control-table .ves-col-delete-domain .ves-act-delete-domain {font-size: 20px;padding: 2px 0;}
.Wiki-config .title > strong{visibility: unset;}

.item-auctions>strong:before{
    font-family: "FontAwesome";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    content: "";
    background: url(../images/auction.png) no-repeat 0 0;
    background-size: 100%;
}
