<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Wiki_Vendors:etc/menu.xsd">
    <menu>    	
    	<add id="Wiki_VendorsCredit::sales_transactions" title="Credit Transactions" translate="title" sortOrder="70" module="Wiki_VendorsCredit" action="credit/transactions" parent="Wiki_VendorsSales::sales" dependsOnModule="Wiki_VendorsCredit" resource="Wiki_VendorsCredit::sales_transactions"/>
    </menu>
</config>