<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    	<add id="Wiki_Vendors::marketplace" title="Marketplace" translate="title" module="Wiki_Vendors" sortOrder="10" resource="Wiki_Vendors::marketplace" dependsOnModule="Wiki_Vendors"/>
    	<add id="Wiki_Vendors::vendors" title="Sellers" translate="title" sortOrder="10" module="Wiki_Vendors" parent="Wiki_Vendors::marketplace" dependsOnModule="Wiki_Vendors" resource="Wiki_Vendors::vendors"/>
        <add id="Wiki_Vendors::vendors_groups" title="Manage Groups" translate="title" sortOrder="10" module="Wiki_Vendors" parent="Wiki_Vendors::vendors" action="vendors/group" dependsOnModule="Wiki_Vendors" resource="Wiki_Vendors::vendors_groups"/>
        <add id="Wiki_Vendors::vendors_sellers" title="Manage Sellers" translate="title" sortOrder="20" module="Wiki_Vendors" parent="Wiki_Vendors::vendors" action="vendors/index" dependsOnModule="Wiki_Vendors" resource="Wiki_Vendors::vendors_sellers"/>
        <add id="Wiki_Vendors::vendors_attributes" title="Manage Attributes" translate="title" sortOrder="30" module="Wiki_Vendors" parent="Wiki_Vendors::vendors" action="vendors/attribute" dependsOnModule="Wiki_Vendors" resource="Wiki_Vendors::vendors_attributes"/>
        <add id="Wiki_Vendors::vendors_profile_form" title="Manage Profile Form" translate="title" sortOrder="40" module="Wiki_Vendors" parent="Wiki_Vendors::vendors" action="vendors/form_profile" dependsOnModule="Wiki_Vendors" resource="Wiki_Vendors::vendors_form_profile"/>
        <add id="Wiki_Vendors::vendors_registration_form" title="Manage Registration Form" translate="title" sortOrder="50" module="Wiki_Vendors" parent="Wiki_Vendors::vendors" action="vendors/form_registration" dependsOnModule="Wiki_Vendors" resource="Wiki_Vendors::vendors_registration_form"/>
        <add id="Wiki_Vendors::vendors_configuration" title="Configuration" translate="title" sortOrder="1000" module="Wiki_Vendors" parent="Wiki_Vendors::marketplace" action="adminhtml/system_config/edit/section/vendors"  dependsOnModule="Wiki_Vendors" resource="Wiki_Vendors::configuration"/>
    </menu>
</config>