<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="vendor_theme_grid_data_source" xsi:type="string">Wiki\VendorsCustomTheme\Model\ResourceModel\Theme\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    
    <type name="Magento\Framework\App\Config">
		<plugin name="overWriteSystemConfig" type="Wiki\VendorsCustomTheme\Plugin\Config"/>
	</type>
	
	<type name="Wiki\VendorsCustomTheme\Block\Theme">
        <arguments>
            <argument name="filters" xsi:type="array">
            	<item name="cms_filter" xsi:type="object">Wiki\VendorsCustomTheme\Model\Template\Filter\Cms</item>
                <item name="image_filter" xsi:type="object">Wiki\VendorsMedia\Model\Template\Filter</item>
                <item name="bestseller_filter" xsi:type="object">Wiki\VendorsCustomTheme\Model\Template\Filter\BestSeller</item>
                <item name="newproducts_filter" xsi:type="object">Wiki\VendorsCustomTheme\Model\Template\Filter\NewProducts</item>
            </argument>
        </arguments>
    </type>
     <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="vendors_cms_page_listing_data_source" xsi:type="string">Magento\Cms\Model\ResourceModel\Page\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <!-- <virtualType name="Vendor\Module\Model\ResourceModel\Something\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">NameOfTable</argument>
            <argument name="resourceModel" xsi:type="string">Vendor\Module\Model\ResourceModel\Something</argument>
        </arguments>
    </virtualType> -->
</config>
