<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add id="Wiki_VendorsChat::chat" title="Chat" sortOrder="15" module="Wiki_VendorsChat" parent="Wiki_Vendors::marketplace" dependsOnModule="Wiki_VendorsChat" resource="Wiki_VendorsChat::chat" />
        <add id="Wiki_VendorsChat::configurations" title="Configurations" sortOrder="10"  module="Wiki_VendorsChat" parent="Wiki_VendorsChat::chat" action="admin/system_config/edit/section/chat" resource="Wiki_VendorsChat::configurations" dependsOnModule="Wiki_VendorsChat" />
      
    </menu>
     
</config>