<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    	<add id="Wiki_VendorsImportExport::import_export" icon="fa fa-cloud-upload" title="Export and Import Product" sortOrder="40" module="Wiki_VendorsImportExport" dependsOnModule="Wiki_VendorsImportExport" resource="Wiki_VendorsImportExport::import_export"/>
    	<add id="Wiki_VendorsImportExport::import_product" title="Import Product" sortOrder="10" module="Wiki_VendorsImportExport" action="jobs/product/import" parent="Wiki_VendorsImportExport::import_export" dependsOnModule="Wiki_VendorsImportExport" resource="Wiki_VendorsImportExport::import_product"/>
    	<add id="Wiki_VendorsImportExport::export_product" title="Export Product" sortOrder="10" module="Wiki_VendorsImportExport" action="jobs/product/export" parent="Wiki_VendorsImportExport::import_export" dependsOnModule="Wiki_VendorsImportExport" resource="Wiki_VendorsImportExport::export_product"/>
    </menu>
</config>