<?xml version="1.0"?>
<!--
/*
 * Wiki_SampleImageUploader

 * @category   Wiki
 * @package    Wiki_SampleImageUploader
 * @copyright  Copyright (c) 2017 Wiki
 * @license    https://github.com/Wiki/magento2-sample-imageuploader/blob/master/LICENSE.md
 * @version    1.0.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="WikiSampleImageUploaderUiDataProviderImageFormModifierPool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="image_data" xsi:type="array">
                    <item name="class" xsi:type="string">Wiki\SampleImageUploader\Ui\DataProvider\Image\Form\Modifier\ImageData</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Wiki\SampleImageUploader\Model\DataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">WikiSampleImageUploaderUiDataProviderImageFormModifierPool</argument>
        </arguments>
    </type>
</config>