<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Wiki_Vendors::marketplace" title="Wiki Marketplace" sortOrder="50">
                    <resource id="Wiki_SampleImageUploader::image" title="Uploader" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>