<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <vendors>
            <subaccount>
                <sender_email_identity>general</sender_email_identity>
                <subaccount_email_user>vendors_subaccount_subaccount_email_user</subaccount_email_user>
            </subaccount>
        </vendors>
        <vendor_advanced_group>
            <subaccount>
                <enable_subaccount>1</enable_subaccount>
                <subaccount_limit>0</subaccount_limit>
            </subaccount>
        </vendor_advanced_group>
    </default>
</config>
