<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Wiki\VendorsSubAccount\Api\SubAccountManagementInterface"
		type="Wiki\VendorsSubAccount\Model\Api\SubAccountManagement" />
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="vendors_subaccount_role_grid_data_source" xsi:type="string">Wiki\VendorsSubAccount\Model\ResourceModel\Role\Grid\Collection</item>
				<item name="vendors_subaccount_user_grid_data_source" xsi:type="string">Wiki\VendorsSubAccount\Model\ResourceModel\User\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
	
	<virtualType name="Wiki\VendorsSubAccount\Model\ResourceModel\Role\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">ves_vendor_subaccount_role</argument>
			<argument name="resourceModel" xsi:type="string">Wiki\VendorsSubAccount\Model\ResourceModel\Role\Collection</argument>
		</arguments>
	</virtualType>

    <type name="Wiki\VendorsSubAccount\Block\Role\Edit\Tab\Edit">
        <arguments>
            <argument name="aclResourceProvider" xsi:type="object">Wiki\VendorsAcl\Model\AclResource\Provider</argument>
        </arguments>
    </type>
    
</config>
