<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="Wiki_VendorsSubAccount" setup_version="2.0.0">
    	<sequence>
    		<module name="Wiki_Core"/>
    		<module name="Wiki_Vendors"/>
    		<module name="Wiki_VendorsAcl"/>
    	</sequence>
    </module>
</config>