<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Wiki_Vendors::main_menu" title="Cms Page" 
            module="Wiki_VendorsCustomTheme" sortOrder="20" 
            resource="Wiki_Vendors::cmspages" />
        <!-- <add id="Wiki_Vendors::add_newpage" title="Add New Page" 
            module="Wiki_VendorsCustomTheme" sortOrder="1" parent="Wiki_Vendors::main_menu" 
            action="theme/cmspages/new" resource="Wiki_Vendors::manage_cmspages" /> -->
        <add id="Wiki_Vendors::manage_cmspages" title="Manage Cms Page " 
            module="Wiki_VendorsCustomTheme" sortOrder="2" parent="Wiki_Vendors::main_menu" 
            action="theme/cmspages/index" resource="Wiki_Vendors::manage_cmspages" />
        <add id="Wiki_Vendors::configuration" title="Configurations" 
            module="Wiki_VendorsCustomTheme" sortOrder="3" parent="Wiki_Vendors::main_menu" 
            action="adminhtml/system_config/edit/section/cmspages" 
            resource="Wiki_Vendors::configuration" />
    </menu>
</config>