<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Wiki\Vendors\Model\UrlInterface" type="Wiki\Vendors\Model\Url" />
    <preference for="Magento\Framework\App\Request\PathInfoProcessorInterface" type="Wiki\Vendors\App\Request\PathInfoProcessor" />
    <preference for="Wiki\Vendors\App\ConfigInterface" type="Wiki\Vendors\App\Config" />
    <preference for="Magento\Framework\Module\ModuleListInterface" type="Magento\Framework\Module\ModuleList" />
    <preference for="Wiki\Vendors\Api\SellerManagementInterface" type="Wiki\Vendors\Model\SellerManagement" />
    <preference for="Wiki\Vendors\Api\Data\SellerInterface" type="Wiki\Vendors\Model\Api\Seller" />
    <preference for="Magento\Catalog\Controller\Adminhtml\Category\Save" type="Wiki\Vendors\Controller\Adminhtml\Category\Save" />
    <preference for="Magento\Catalog\Model\Category\DataProvider" type="Wiki\Vendors\Model\Category\DataProvider" />
    <preference for="Wiki\Vendors\Api\SellerAddressInterface" type="Wiki\Vendors\Model\SellerAddress" />
    <preference for="Wiki\Vendors\Api\Data\AddressInterface" type="Wiki\Vendors\Model\Api\Address" />
    <preference for="Wiki\Vendors\Api\Data\OrdersSellerInterface" type="Wiki\Vendors\Model\Api\OrdersSeller" />
    <preference for="Wiki\Vendors\Api\Data\BannerInterface" type="Wiki\Vendors\Model\Api\Banner" />
    <preference for="Wiki\Vendors\Api\Data\AccountEmailInterface" type="Wiki\Vendors\Model\Api\AccountEmail" />
    <preference for="Wiki\Vendors\Api\Data\CountOrderByStatusInterface" type="Wiki\Vendors\Model\Api\CountOrderByStatus" />
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="vendor_account_listing_data_source" xsi:type="string">Wiki\Vendors\Model\ResourceModel\Vendor\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\App\AreaList">
        <arguments>
            <argument name="areas" xsi:type="array">
                <item name="vendors" xsi:type="array">
                    <item name="frontNameResolver" xsi:type="string">Wiki\Vendors\App\Area\FrontNameResolver</item>
                    <!-- <item name="frontName" xsi:type="string">vendors</item> -->
                    <item name="router" xsi:type="string">vendors</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Wiki\Vendors\App\Router">
        <arguments>
            <argument name="routerId" xsi:type="string">vendors</argument>
        </arguments>
    </type>

    <type name="Wiki\Vendors\Helper\Data">
        <arguments>
            <argument name="backendUrl" xsi:type="object">Wiki\Vendors\Model\UrlInterface\Proxy</argument>
            <argument name="auth" xsi:type="object">Magento\Backend\Model\Auth\Proxy</argument>
            <argument name="locale" xsi:type="object">Magento\Backend\Model\Locale\Resolver\Proxy</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\App\Router\NoRouteHandlerList">
        <arguments>
            <argument name="handlerClassesList" xsi:type="array">
                <item name="vendors" xsi:type="array">
                    <item name="class" xsi:type="string">Wiki\Vendors\App\Router\NoRouteHandler</item>
                    <item name="sortOrder" xsi:type="string">5</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Wiki\Vendors\Model\Url\ScopeResolver">
        <arguments>
            <argument name="areaCode" xsi:type="string">vendors</argument>
        </arguments>
    </type>

    <type name="Wiki\Vendors\Model\Url">
        <arguments>
            <argument name="scopeResolver" xsi:type="object">Wiki\Vendors\Model\Url\ScopeResolver</argument>
            <argument name="authSession" xsi:type="object">Magento\Backend\Model\Auth\Session\Proxy</argument>
            <argument name="formKey" xsi:type="object">Magento\Framework\Data\Form\FormKey\Proxy</argument>
            <argument name="scopeType" xsi:type="const">Magento\Store\Model\ScopeInterface::SCOPE_STORE</argument>
            <argument name="vendorBackendHelper" xsi:type="object">Wiki\Vendors\Helper\Data\Proxy</argument>
        </arguments>
    </type>


    <type name="Magento\Theme\Model\View\Design">
        <arguments>
            <argument name="themes" xsi:type="array">
                <item name="vendors" xsi:type="string">Wiki/vendor</item>
            </argument>
        </arguments>
    </type>

    <!-- Add a attribute mapper -->
    <type name="Magento\Eav\Model\Entity\Setup\PropertyMapper\Composite">
        <arguments>
            <argument name="propertyMappers" xsi:type="array">
                <item name="vendorMapper" xsi:type="string">Wiki\Vendors\Model\ResourceModel\Setup\PropertyMapper</item>
            </argument>
        </arguments>
    </type>

    <type name="Wiki\Vendors\Block\Vendors\Menu">
        <arguments>
            <argument name="anchorRenderer" xsi:type="object">Wiki\Vendors\Block\Vendors\Menu\AnchorRenderer</argument>
            <argument name="menuItemChecker" xsi:type="object">Wiki\Vendors\Block\Vendors\MenuItemChecker</argument>
        </arguments>
    </type>


    <type name="Wiki\Vendors\Model\Image">
        <arguments>
            <argument name="viewAssetImageFactory" xsi:type="object">Wiki\Vendors\Model\View\Asset\ImageFactory</argument>
        </arguments>
    </type>
    <type name="Wiki\Vendors\Model\View\Asset\Image">
        <arguments>
            <argument name="mediaConfig" xsi:type="object">Wiki\Vendors\Model\Media\Config</argument>
            <argument name="context" xsi:type="object">Wiki\Vendors\Model\View\Asset\Image\Context</argument>
        </arguments>
    </type>
    <type name="Wiki\Vendors\Model\View\Asset\Image\Context">
        <arguments>
            <argument name="mediaConfig" xsi:type="object">Wiki\Vendors\Model\Media\Config</argument>
        </arguments>
    </type>
    <!--<preference for="Magento\Framework\Stdlib\DateTime\Filter\DateTime" type="Wiki\Vendors\Plugin\DateTime\Filter\DateTime" />-->
     <type name="Magento\CustomerGraphQl\Model\Customer\CreateCustomerAccount">
        <plugin name="before_save_account" type="Wiki\Vendors\Model\Resolver\AccountSellerFormOutput" sortOrder="10" />
    </type>
</config>
