<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    	<add id="Wiki_VendorsCustomTheme::theme" title="Manage Vendor Theme" module="Wiki_VendorsCustomTheme" sortOrder="990" parent="Wiki_Vendors::marketplace" action="vendors/theme/" dependsOnModule="Wiki_VendorsCustomTheme" resource="Wiki_VendorsCustomTheme::theme"/>
    </menu>
</config>