<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Wiki_VendorsProduct::catalog" title="Catalog" sortOrder="20" module="Wiki_VendorsProduct" parent="Wiki_Vendors::marketplace" dependsOnModule="Wiki_VendorsProduct" resource="Wiki_VendorsProduct::catalog" />
		<add id="Wiki_VendorsProduct::catalog_pending_product" title="Manage Pending Products" sortOrder="10" module="Wiki_VendorsProduct" parent="Wiki_VendorsProduct::catalog" action="vendors/catalog_product" dependsOnModule="Wiki_VendorsProduct" resource="Wiki_VendorsProduct::catalog_pending_product" />
		<!-- <add id="Wiki_VendorsProduct::catalog_product_form" title="Manage Add Product Forms" sortOrder="100" module="Wiki_VendorsProduct" parent="Wiki_VendorsProduct::catalog" action="vendors/catalog_product_set" dependsOnModule="Wiki_VendorsProduct" resource="Wiki_VendorsProduct::catalog_product_form"/> -->
	</menu>
</config>