<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <wkotpsms>
            <general>
                <enable>0</enable>
            </general>
            <connection>
                <sender>DHAS</sender>
                <service>smsmkt</service>
                <url_sms><![CDATA[https://portal-otp.smsmkt.com/api/send-message]]></url_sms>
                <content_sms><![CDATA[%s is your OTP for registering]]></content_sms>
            </connection>
        </wkotpsms>
    </default>
</config>
