<?xml version="1.0" ?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Magento\Customer\Api\AccountManagementInterface" type="Wiki\OtpSms\Model\AccountManagement"/>
	<preference for="Wiki\OtpSms\Api\SmsManagementInterface" type="Wiki\OtpSms\Model\SmsManagement"/>
	<preference for="Wiki\OtpSms\Api\Data\ResponseInterface" type="Wiki\OtpSms\Model\Data\Response"/>
	<preference for="Wiki\OtpSms\Api\Data\CustomerOtpInterface" type="Wiki\OtpSms\Model\Data\CustomerOtp"/>
</config>
