@import 'src/styles/abstracts/variables';

.paymentMethodContainer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 30px 0;

    .paymentMethodBody{
        width: 60%;
        height: 100%;
        margin: auto;

        .paymentMethodTitle{
            width: 100%;
            margin-bottom: 30px;
            .titleText{
                margin: 0;
                text-align: center;
                font-size: $font-size-xlarge;
                font-family: $font-family-sans;
                font-weight: 600;
                color: $color-black;
            }
        }

        .addPaymentMethod{
            width: 100%;
            .formContainer{
                padding: 20px;
                .inputField{
                    width: 100%;
                    margin-bottom: 20px;
                    &.field1{
                        width: 100%;
                    }
                    &.field2{
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                    }
                    &.field3{
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                    }
                    .label{
                        margin: 0;
                        margin-right: 10px;
                        font-family: $font-family-sans;
                        font-size: $font-size-base
                    }

                    .input{
                        width: 100%;
                        &.right{
                            width: 30%;
                        }

                        select{
                            min-height: 40px;
                            line-height: 40px;
                            background-color: #fff;
                            transition: border-color .15s ease-in-out,box-shadow .3s ease-in-out,-webkit-box-shadow .3s ease-in-out;
                            box-shadow: 0 1px 3px 1px #60626540;
                            border-radius: 5px;
                            border: none;
                            outline: none;
                            padding: 0 1rem;
                            width: 100%;
                            font-size: $font-size-base;
                            font-family: $font-family-sans;

                            &:focus{
                                box-shadow: -0.5px -0.5px 3px 2px $color-yellow;
                            }
                        }
                        // input{
                        //     width: 100%;
                        // }
                        
                    }
                    .inputGroup{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 55%;
                        .input{
                            width: 48.5%;
                        }
                    }
                }

                .buttonArea{
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .buttonSubmit{
                        width: 50%;
                        padding: 8px 10px;
                        background: $color-yellow;
                        border-radius: 5px;
                        font-family: $font-family-sans;
                        font-size: $font-size-base;
                        font-weight: 500;
                        color: $color-black;
                        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                    }
                }
            }
        }

        .divider{
            margin: 20px 0;
        }
    }
}

@media all and (max-width: 1024px) {
    .paymentMethodContainer{    
        .paymentMethodBody{
            width: 70%;
            height: 100%;
            margin: auto;

            .paymentMethodTitle{
                width: 100%;
                margin-bottom: 30px;
                .titleText{
                    margin: 0;
                    text-align: center;
                    font-size: $font-size-large;
                    font-family: $font-family-sans;
                    font-weight: 600;
                    color: $color-black;
                }
            }

            .addPaymentMethod{
                width: 100%;
                .formContainer{
                    padding: 20px;
                    .inputField{
                        width: 100%;
                        margin-bottom: 20px;
                        &.field1{
                            width: 100%;
                        }
                        &.field2{
                            display: flex;
                            justify-content: space-between;
                            align-items: flex-start;
                        }
                        &.field3{
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                        }
                        .label{
                            margin: 0;
                            margin-right: 10px;
                            font-family: $font-family-sans;
                            font-size: $font-size-base
                        }
    
                        .input{
                            width: 100%;
                            &.right{
                                width: 30%;
                            }
    
                            select{
                                min-height: 40px;
                                line-height: 40px;
                                background-color: #fff;
                                transition: border-color .15s ease-in-out,box-shadow .3s ease-in-out,-webkit-box-shadow .3s ease-in-out;
                                box-shadow: 0 1px 3px 1px #60626540;
                                border-radius: 5px;
                                border: none;
                                outline: none;
                                padding: 0 1rem;
                                width: 100%;
                                font-size: $font-size-base;
                                font-family: $font-family-sans;
    
                                &:focus{
                                    box-shadow: -0.5px -0.5px 3px 2px $color-yellow;
                                }
                            }
                            // input{
                            //     width: 100%;
                            // }
                            
                        }
                        .inputGroup{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 60%;
                            .input{
                                width: 48.5%;
                            }
                        }
                    }
    
                    .buttonArea{
                        display: flex;
                        justify-content: center;
                        align-items: center;
    
                        .buttonSubmit{
                            width: 50%;
                            padding: 8px 10px;
                            background: $color-yellow;
                            border-radius: 5px;
                            font-family: $font-family-sans;
                            font-size: $font-size-base;
                            font-weight: 500;
                            color: $color-black;
                            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                        }
                    }
                }
            }
        }
       
    }
}

@media all and (max-width: 912px) {   
    .paymentMethodContainer{
        .paymentMethodBody{
            width: 90%;
            height: 100%;
            margin: auto;
        }
        .addPaymentMethod{
            width: 100%;
            .formContainer{
                padding: 20px;
                .inputField{
                    width: 100%;
                    margin-bottom: 20px;
                    &.field1{
                        width: 100%;
                    }
                    &.field2{
                        width: 100%;
                        display: flex;
                        flex-direction: column-reverse;
                        justify-content: center;
                        align-items: center;
                    }
                    &.field3{
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                    }
                    .label{
                        margin: 0;
                        margin-right: 10px;
                        font-family: $font-family-sans;
                        font-size: $font-size-base
                    }

                    .input{
                        width: 100%;
                        &.right{
                            width: 100% !important;
                        }

                        select{
                            min-height: 40px;
                            line-height: 40px;
                            background-color: #fff;
                            transition: border-color .15s ease-in-out,box-shadow .3s ease-in-out,-webkit-box-shadow .3s ease-in-out;
                            box-shadow: 0 1px 3px 1px #60626540;
                            border-radius: 5px;
                            border: none;
                            outline: none;
                            padding: 0 1rem;
                            width: 100%;
                            font-size: $font-size-base;
                            font-family: $font-family-sans;

                            &:focus{
                                box-shadow: -0.5px -0.5px 3px 2px $color-yellow;
                            }
                        }
                        // input{
                        //     width: 100%;
                        // }
                        
                    }
                    .inputGroup{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100% !important;
                        margin-top: 20px;
                        .input{
                            width: 100%;
                        }
                    }
                }

                .buttonArea{
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .buttonSubmit{
                        width: 80% !important;
                        padding: 8px 10px;
                        background: $color-yellow;
                        border-radius: 5px;
                        font-family: $font-family-sans;
                        font-size: $font-size-base;
                        font-weight: 500;
                        color: $color-black;
                        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 600px) {    
    .paymentMethodContainer{
        padding: 25px 0;

        .paymentMethodBody{
            width: 100%;
            height: 100%;
            margin: auto;

            .paymentMethodTitle{
                width: 100%;
                margin-bottom: 25px;
                .titleText{
                    margin: 0;
                    text-align: center;
                    font-size: $font-size-medium;
                    font-family: $font-family-sans;
                    font-weight: 600;
                    color: $color-black;
                }
            }

            .addPaymentMethod{
                width: 100%;
                .formContainer{
                    padding: 20px;
                    .inputField{
                        width: 100%;
                        margin-bottom: 20px;
                        &.field1{
                            width: 100%;
                        }
                        &.field2{
                            width: 100%;
                            display: flex;
                            flex-direction: column-reverse;
                            justify-content: center;
                            align-items: center;
                        }
                        &.field3{
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                        }
                        .label{
                            margin: 0;
                            margin-right: 10px;
                            font-family: $font-family-sans;
                            font-size: $font-size-small;
                        }
    
                        .input{
                            width: 100%;
                            &.right{
                                width: 100% !important;
                            }
    
                            select{
                                min-height: 40px;
                                line-height: 40px;
                                background-color: #fff;
                                transition: border-color .15s ease-in-out,box-shadow .3s ease-in-out,-webkit-box-shadow .3s ease-in-out;
                                box-shadow: 0 1px 3px 1px #60626540;
                                border-radius: 5px;
                                border: none;
                                outline: none;
                                padding: 0 1rem;
                                width: 100%;
                                font-size: $font-size-small;
                                font-family: $font-family-sans;
                                color: $color-black;
                                &:focus{
                                    box-shadow: -0.5px -0.5px 3px 2px $color-yellow;
                                }
                            }
                            input{
                                width: 100%;
                                font-size: $font-size-small;
                                font-family: $font-family-sans;
                                color: $color-black;
                            }
                            
                        }
                        .inputGroup{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 100% !important;
                            margin-top: 20px;
                            .input{
                                width: 49%;
                            }
                        }
                    }
    
                    .buttonArea{
                        display: flex;
                        justify-content: center;
                        align-items: center;
    
                        .buttonSubmit{
                            width: 80% !important;
                            padding: 8px 10px;
                            background: $color-yellow;
                            border-radius: 5px;
                            font-family: $font-family-sans;
                            font-size: $font-size-small;
                            font-weight: 500;
                            color: $color-black;
                            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                        }
                    }
                }
            }
        }
    }
}

@media all and ( max-width: 480px) {  
    .paymentMethodContainer{
        padding: 20px 0;
        .paymentMethodBody{
            .paymentMethodTitle{
                width: 100%;
                margin-bottom: 20px;
                .titleText{
                    margin: 0;
                    text-align: center;
                    font-size: $font-size-medium;
                    font-family: $font-family-sans;
                    font-weight: 600;
                    color: $color-black;
                }
            }

            .addPaymentMethod{
                width: 100%;
                .formContainer{
                    padding: 20px;
                    .inputField{
                        width: 100%;
                        margin-bottom: 20px;
                        &.field1{
                            width: 100%;
                        }
                        &.field2{
                            width: 100%;
                            display: flex;
                            flex-direction: column-reverse;
                            justify-content: center;
                            align-items: center;
                        }
                        &.field3{
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                        }
                        .label{
                            margin: 0;
                            margin-right: 10px;
                            font-family: $font-family-sans;
                            font-size: $font-size-xsmall;
                        }
    
                        .input{
                            width: 100%;
                            &.right{
                                width: 100% !important;
                            }
    
                            select{
                                min-height: 40px;
                                line-height: 40px;
                                background-color: #fff;
                                transition: border-color .15s ease-in-out,box-shadow .3s ease-in-out,-webkit-box-shadow .3s ease-in-out;
                                box-shadow: 0 1px 3px 1px #60626540;
                                border-radius: 5px;
                                border: none;
                                outline: none;
                                padding: 0 1rem;
                                width: 100%;
                                font-size: $font-size-xsmall;
                                font-family: $font-family-sans;
                                color: $color-black;
                                &:focus{
                                    box-shadow: -0.5px -0.5px 3px 2px $color-yellow;
                                }
                            }
                            input{
                                width: 100%;
                                font-size: $font-size-xsmall;
                                font-family: $font-family-sans;
                                color: $color-black;
                            }
                            
                        }
                        .inputGroup{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 100% !important;
                            margin-top: 20px;
                            .input{
                                width: 48%;
                            }
                        }
                    }
    
                    .buttonArea{
                        display: flex;
                        justify-content: center;
                        align-items: center;
    
                        .buttonSubmit{
                            width: 100% !important;
                            padding: 8px 10px;
                            background: $color-yellow;
                            border-radius: 5px;
                            font-family: $font-family-sans;
                            font-size: $font-size-xsmall;
                            font-weight: 500;
                            color: $color-black;
                            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                        }
                    }
                }
            }
        }
    }
}