<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Wiki\VendorsCoupon\Api\CouponManagementInterface" type="Wiki\VendorsCoupon\Model\CouponManagement" />
	<preference for="Wiki\VendorsCoupon\Api\GuestCouponManagementInterface" type="Wiki\VendorsCoupon\Model\GuestCart\GuestCouponManagement" />
	<preference for="Magento\Checkout\Model\Cart" type="Wiki\VendorsCoupon\Model\Cart" />
    <preference for="Wiki\VendorsCoupon\Api\Data\CouponInterface" type="Wiki\VendorsCoupon\Model\Api\Coupon"/>
    <preference for="Wiki\VendorsCoupon\Api\Data\VendorsCouponInterface" type="Wiki\VendorsCoupon\Model\Api\VendorsCoupon"/>
    <preference for="Wiki\VendorsCoupon\Api\ItemsInterface" type="Wiki\VendorsCoupon\Model\Api\Items" />
	<type name="Magento\SalesRule\Model\ResourceModel\Coupon">
		<plugin name="vendor_coupon" type="Wiki\VendorsCoupon\Plugin\Coupon" sortOrder="10" disabled="false"/>
	</type>
	
	<!-- <type name="Magento\Quote\Model\CouponManagement">
		<plugin name="vendor_coupon" type="Wiki\VendorsCoupon\Plugin\CouponManagement" sortOrder="10" disabled="false"/>
	</type> -->
	
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="vendor_coupon_grid_data_source" xsi:type="string">Wiki\VendorsCoupon\Model\ResourceModel\Coupon\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    
    <type name="Wiki\VendorsCoupon\Helper\Data">
        <arguments>
            <argument name="couponParameters" xsi:type="array">
                <item name="separator" xsi:type="string">-</item>
                <item name="charset" xsi:type="array">
                    <item name="alphanum" xsi:type="string">ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789</item>
                    <item name="alpha" xsi:type="string">ABCDEFGHIJKLMNOPQRSTUVWXYZ</item>
                    <item name="num" xsi:type="string">0123456789</item>
                </item>
            </argument>
        </arguments>
    </type>
    
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="vendors_coupon_sales_order_grid_data_source" xsi:type="string">Wiki\VendorsCoupon\Model\ResourceModel\Order\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    
</config>
